/* Chrome, Safari, Edge, Opera */
.noupdown::-webkit-outer-spin-button,
.noupdown::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.noupdown {
  -moz-appearance: textfield;
}

.ipv4{
    width: 40px;
    text-align: center;
}

#subnettable td{
    padding: 0px 10px;
}