input{
  width: 100%;
  border-radius: 100px;
  border: 2px solid #b3b3b3;
  padding: 2px 15px;
  font-size: large;
  outline: none;
}
img {
  min-width: 350px;
  max-width: 1000px;
  width: 100%;
}
button{
  text-align: left !important;
}