select,br {
  user-select: none;
}
input{
  border-radius: 100px;
  border: 2px solid #b3b3b3;
  padding: 2px 15px;
  font-size: large;
  outline: none;
}
#search{
  width: 100%;
}
img {
  min-width: 350px;
  max-width: 1000px;
  width: 100%;
}
button{
  text-align: left !important;
}
table tr,td,th {
  border: 2px solid rgb(187, 187, 187);
  padding: 3px 10px;
}
thead {
  font-weight: bold;
}
.red {
  color: red;
}
samp {
  background-color: rgb(18, 19, 5);
  color: rgb(58, 204, 58);
  padding: 1px 5px;
  border-radius: 5px;
}
samp b {
  color: rgb(80, 230, 58);
}